In [1]:
import numpy as np
import pandas as pd

In [3]:
np.arange(9)

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [1]:
import csv

In [2]:
import os

In [15]:
fileCsv=os.path.join("C:\\Users\\ashokkumar\\Downloads\\"+"cities.csv")

In [16]:
with open(fileCsv) as f:
    csvOp=list(csv.reader(f))
print(csvOp)

[['LatD', 'LatM', 'LatS', 'NS', 'LonD', 'LonM', 'LonS', 'EW', 'City', 'State'], ['41', '5', '59', 'N', '80', '39', '0', 'W', 'Youngstown', 'OH'], ['42', '52', '48', 'N', '97', '23', '23', 'W', 'Yankton', 'SD'], ['46', '35', '59', 'N', '120', '30', '36', 'W', 'Yakima', 'WA'], ['42', '16', '12', 'N', '71', '48', '0', 'W', 'Worcester', 'MA'], ['43', '37', '48', 'N', '89', '46', '11', 'W', 'WisconsinDells', 'WI'], ['36', '5', '59', 'N', '80', '15', '0', 'W', 'Winston-Salem', 'NC'], ['49', '52', '48', 'N', '97', '9', '0', 'W', 'Winnipeg', 'MB'], ['39', '11', '23', 'N', '78', '9', '36', 'W', 'Winchester', 'VA'], ['34', '14', '24', 'N', '77', '55', '11', 'W', 'Wilmington', 'NC'], ['39', '45', '0', 'N', '75', '33', '0', 'W', 'Wilmington', 'DE'], ['48', '9', '0', 'N', '103', '37', '12', 'W', 'Williston', 'ND'], ['41', '15', '0', 'N', '77', '0', '0', 'W', 'Williamsport', 'PA'], ['37', '40', '48', 'N', '82', '16', '47', 'W', 'Williamson', 'WV'], ['33', '54', '0', 'N', '98', '29', '23', 'W', 'WichitaFalls', 'TX'], ['37', '41', '23', 'N', '97', '20', '23', 'W', 'Wichita', 'KS'], ['40', '4', '11', 'N', '80', '43', '12', 'W', 'Wheeling', 'WV'], ['26', '43', '11', 'N', '80', '3', '0', 'W', 'WestPalmBeach', 'FL'], ['47', '25', '11', 'N', '120', '19', '11', 'W', 'Wenatchee', 'WA'], ['41', '25', '11', 'N', '122', '23', '23', 'W', 'Weed', 'CA'], ['31', '13', '11', 'N', '82', '20', '59', 'W', 'Waycross', 'GA'], ['44', '57', '35', 'N', '89', '38', '23', 'W', 'Wausau', 'WI'], ['42', '21', '36', 'N', '87', '49', '48', 'W', 'Waukegan', 'IL'], ['44', '54', '0', 'N', '97', '6', '36', 'W', 'Watertown', 'SD'], ['43', '58', '47', 'N', '75', '55', '11', 'W', 'Watertown', 'NY'], ['42', '30', '0', 'N', '92', '20', '23', 'W', 'Waterloo', 'IA'], ['41', '32', '59', 'N', '73', '3', '0', 'W', 'Waterbury', 'CT'], ['38', '53', '23', 'N', '77', '1', '47', 'W', 'Washington', 'DC'], ['41', '50', '59', 'N', '79', '8', '23', 'W', 'Warren', 'PA'], ['46', '4', '11', 'N', '118', '19', '48', 'W', 'WallaWalla', 'WA'], ['31', '32', '59', 'N', '97', '8', '23', 'W', 'Waco', 'TX'], ['38', '40', '48', 'N', '87', '31', '47', 'W', 'Vincennes', 'IN'], ['28', '48', '35', 'N', '97', '0', '36', 'W', 'Victoria', 'TX'], ['32', '20', '59', 'N', '90', '52', '47', 'W', 'Vicksburg', 'MS'], ['49', '16', '12', 'N', '123', '7', '12', 'W', 'Vancouver', 'BC'], ['46', '55', '11', 'N', '98', '0', '36', 'W', 'ValleyCity', 'ND'], ['30', '49', '47', 'N', '83', '16', '47', 'W', 'Valdosta', 'GA'], ['43', '6', '36', 'N', '75', '13', '48', 'W', 'Utica', 'NY'], ['39', '54', '0', 'N', '79', '43', '48', 'W', 'Uniontown', 'PA'], ['32', '20', '59', 'N', '95', '18', '0', 'W', 'Tyler', 'TX'], ['42', '33', '36', 'N', '114', '28', '12', 'W', 'TwinFalls', 'ID'], ['33', '12', '35', 'N', '87', '34', '11', 'W', 'Tuscaloosa', 'AL'], ['34', '15', '35', 'N', '88', '42', '35', 'W', 'Tupelo', 'MS'], ['36', '9', '35', 'N', '95', '54', '36', 'W', 'Tulsa', 'OK'], ['32', '13', '12', 'N', '110', '58', '12', 'W', 'Tucson', 'AZ'], ['37', '10', '11', 'N', '104', '30', '36', 'W', 'Trinidad', 'CO'], ['40', '13', '47', 'N', '74', '46', '11', 'W', 'Trenton', 'NJ'], ['44', '45', '35', 'N', '85', '37', '47', 'W', 'TraverseCity', 'MI'], ['43', '39', '0', 'N', '79', '22', '47', 'W', 'Toronto', 'ON'], ['39', '2', '59', 'N', '95', '40', '11', 'W', 'Topeka', 'KS'], ['41', '39', '0', 'N', '83', '32', '24', 'W', 'Toledo', 'OH'], ['33', '25', '48', 'N', '94', '3', '0', 'W', 'Texarkana', 'TX'], ['39', '28', '12', 'N', '87', '24', '36', 'W', 'TerreHaute', 'IN'], ['27', '57', '0', 'N', '82', '26', '59', 'W', 'Tampa', 'FL'], ['30', '27', '0', 'N', '84', '16', '47', 'W', 'Tallahassee', 'FL'], ['47', '14', '24', 'N', '122', '25', '48', 'W', 'Tacoma', 'WA'], ['43', '2', '59', 'N', '76', '9', '0', 'W', 'Syracuse', 'NY'], ['32', '35', '59', 'N', '82', '20', '23', 'W', 'Swainsboro', 'GA'], ['33', '55', '11', 'N', '80', '20', '59', 'W', 'Sumter', 'SC'], ['40', '59', '24', 'N', '75', '11', '24', 'W', 'Stroudsburg', 'PA'], ['37', '57', '35', 'N', '121', '17', '24', 'W', 'Stockton', 'CA'], ['44', '31', '12', 'N', '89', '34', '11', 'W', 'StevensPoint', 'WI'], ['40', '21', '36', 'N', '80', '37', '12', 'W', 'Steubenville', 'OH'], ['40', '37', '11', 'N', '103', '13', '12', 'W', 'Sterling', 'CO'], ['38', '9', '0', 'N', '79', '4', '11', 'W', 'Staunton', 'VA'], ['39', '55', '11', 'N', '83', '48', '35', 'W', 'Springfield', 'OH'], ['37', '13', '12', 'N', '93', '17', '24', 'W', 'Springfield', 'MO'], ['42', '5', '59', 'N', '72', '35', '23', 'W', 'Springfield', 'MA'], ['39', '47', '59', 'N', '89', '39', '0', 'W', 'Springfield', 'IL'], ['47', '40', '11', 'N', '117', '24', '36', 'W', 'Spokane', 'WA'], ['41', '40', '48', 'N', '86', '15', '0', 'W', 'SouthBend', 'IN'], ['43', '32', '24', 'N', '96', '43', '48', 'W', 'SiouxFalls', 'SD'], ['42', '29', '24', 'N', '96', '23', '23', 'W', 'SiouxCity', 'IA'], ['32', '30', '35', 'N', '93', '45', '0', 'W', 'Shreveport', 'LA'], ['33', '38', '23', 'N', '96', '36', '36', 'W', 'Sherman', 'TX'], ['44', '47', '59', 'N', '106', '57', '35', 'W', 'Sheridan', 'WY'], ['35', '13', '47', 'N', '96', '40', '48', 'W', 'Seminole', 'OK'], ['32', '25', '11', 'N', '87', '1', '11', 'W', 'Selma', 'AL'], ['38', '42', '35', 'N', '93', '13', '48', 'W', 'Sedalia', 'MO'], ['47', '35', '59', 'N', '122', '19', '48', 'W', 'Seattle', 'WA'], ['41', '24', '35', 'N', '75', '40', '11', 'W', 'Scranton', 'PA'], ['41', '52', '11', 'N', '103', '39', '36', 'W', 'Scottsbluff', 'NB'], ['42', '49', '11', 'N', '73', '56', '59', 'W', 'Schenectady', 'NY'], ['32', '4', '48', 'N', '81', '5', '23', 'W', 'Savannah', 'GA'], ['46', '29', '24', 'N', '84', '20', '59', 'W', 'SaultSainteMarie', 'MI'], ['27', '20', '24', 'N', '82', '31', '47', 'W', 'Sarasota', 'FL'], ['38', '26', '23', 'N', '122', '43', '12', 'W', 'SantaRosa', 'CA'], ['35', '40', '48', 'N', '105', '56', '59', 'W', 'SantaFe', 'NM'], ['34', '25', '11', 'N', '119', '41', '59', 'W', 'SantaBarbara', 'CA'], ['33', '45', '35', 'N', '117', '52', '12', 'W', 'SantaAna', 'CA'], ['37', '20', '24', 'N', '121', '52', '47', 'W', 'SanJose', 'CA'], ['37', '46', '47', 'N', '122', '25', '11', 'W', 'SanFrancisco', 'CA'], ['41', '27', '0', 'N', '82', '42', '35', 'W', 'Sandusky', 'OH'], ['32', '42', '35', 'N', '117', '9', '0', 'W', 'SanDiego', 'CA'], ['34', '6', '36', 'N', '117', '18', '35', 'W', 'SanBernardino', 'CA'], ['29', '25', '12', 'N', '98', '30', '0', 'W', 'SanAntonio', 'TX'], ['31', '27', '35', 'N', '100', '26', '24', 'W', 'SanAngelo', 'TX'], ['40', '45', '35', 'N', '111', '52', '47', 'W', 'SaltLakeCity', 'UT'], ['38', '22', '11', 'N', '75', '35', '59', 'W', 'Salisbury', 'MD'], ['36', '40', '11', 'N', '121', '39', '0', 'W', 'Salinas', 'CA'], ['38', '50', '24', 'N', '97', '36', '36', 'W', 'Salina', 'KS'], ['38', '31', '47', 'N', '106', '0', '0', 'W', 'Salida', 'CO'], ['44', '56', '23', 'N', '123', '1', '47', 'W', 'Salem', 'OR'], ['44', '57', '0', 'N', '93', '5', '59', 'W', 'SaintPaul', 'MN'], ['38', '37', '11', 'N', '90', '11', '24', 'W', 'SaintLouis', 'MO'], ['39', '46', '12', 'N', '94', '50', '23', 'W', 'SaintJoseph', 'MO'], ['42', '5', '59', 'N', '86', '28', '48', 'W', 'SaintJoseph', 'MI'], ['44', '25', '11', 'N', '72', '1', '11', 'W', 'SaintJohnsbury', 'VT'], ['45', '34', '11', 'N', '94', '10', '11', 'W', 'SaintCloud', 'MN'], ['29', '53', '23', 'N', '81', '19', '11', 'W', 'SaintAugustine', 'FL'], ['43', '25', '48', 'N', '83', '56', '24', 'W', 'Saginaw', 'MI'], ['38', '35', '24', 'N', '121', '29', '23', 'W', 'Sacramento', 'CA'], ['43', '36', '36', 'N', '72', '58', '12', 'W', 'Rutland', 'VT'], ['33', '24', '0', 'N', '104', '31', '47', 'W', 'Roswell', 'NM'], ['35', '56', '23', 'N', '77', '48', '0', 'W', 'RockyMount', 'NC'], ['41', '35', '24', 'N', '109', '13', '48', 'W', 'RockSprings', 'WY'], ['42', '16', '12', 'N', '89', '5', '59', 'W', 'Rockford', 'IL'], ['43', '9', '35', 'N', '77', '36', '36', 'W', 'Rochester', 'NY'], ['44', '1', '12', 'N', '92', '27', '35', 'W', 'Rochester', 'MN'], ['37', '16', '12', 'N', '79', '56', '24', 'W', 'Roanoke', 'VA'], ['37', '32', '24', 'N', '77', '26', '59', 'W', 'Richmond', 'VA'], ['39', '49', '48', 'N', '84', '53', '23', 'W', 'Richmond', 'IN'], ['38', '46', '12', 'N', '112', '5', '23', 'W', 'Richfield', 'UT'], ['45', '38', '23', 'N', '89', '25', '11', 'W', 'Rhinelander', 'WI'], ['39', '31', '12', 'N', '119', '48', '35', 'W', 'Reno', 'NV'], ['50', '25', '11', 'N', '104', '39', '0', 'W', 'Regina', 'SA'], ['40', '10', '48', 'N', '122', '14', '23', 'W', 'RedBluff', 'CA'], ['40', '19', '48', 'N', '75', '55', '48', 'W', 'Reading', 'PA'], ['41', '9', '35', 'N', '81', '14', '23', 'W', 'Ravenna', 'OH']]

In [9]:
csvOp[0]

['LatD',
 ' "LatM"',
 ' "LatS"',
 ' "NS"',
 ' "LonD"',
 ' "LonM"',
 ' "LonS"',
 ' "EW"',
 ' "City"',
 ' "State"']

In [13]:
import numpy as np

In [21]:
np.array(csvOp)

array([['LatD', 'LatM', 'LatS', ..., 'EW', 'City', 'State'],
       ['41', '5', '59', ..., 'W', 'Youngstown', 'OH'],
       ['42', '52', '48', ..., 'W', 'Yankton', 'SD'],
       ...,
       ['40', '10', '48', ..., 'W', 'RedBluff', 'CA'],
       ['40', '19', '48', ..., 'W', 'Reading', 'PA'],
       ['41', '9', '35', ..., 'W', 'Ravenna', 'OH']], dtype='<U16')

In [22]:
import pandas as pd

In [23]:
csvRest=np.array(csvOp)[1:]

In [28]:
csvRest.compress((1,3))

array(['41', '5'], dtype='<U16')

In [30]:
pd.Series([5,6,7])

0    5
1    6
2    7
dtype: int64

In [33]:
Header=list(np.array(csvOp)[0])

In [34]:
Data=list(np.array(csvOp)[1:])

In [39]:
ser=pd.Series(Data)

In [40]:
ser

0           [41, 5, 59, N, 80, 39, 0, W, Youngstown, OH]
1            [42, 52, 48, N, 97, 23, 23, W, Yankton, SD]
2            [46, 35, 59, N, 120, 30, 36, W, Yakima, WA]
3           [42, 16, 12, N, 71, 48, 0, W, Worcester, MA]
4      [43, 37, 48, N, 89, 46, 11, W, WisconsinDells,...
5        [36, 5, 59, N, 80, 15, 0, W, Winston-Salem, NC]
6             [49, 52, 48, N, 97, 9, 0, W, Winnipeg, MB]
7          [39, 11, 23, N, 78, 9, 36, W, Winchester, VA]
8         [34, 14, 24, N, 77, 55, 11, W, Wilmington, NC]
9           [39, 45, 0, N, 75, 33, 0, W, Wilmington, DE]
10          [48, 9, 0, N, 103, 37, 12, W, Williston, ND]
11         [41, 15, 0, N, 77, 0, 0, W, Williamsport, PA]
12        [37, 40, 48, N, 82, 16, 47, W, Williamson, WV]
13       [33, 54, 0, N, 98, 29, 23, W, WichitaFalls, TX]
14           [37, 41, 23, N, 97, 20, 23, W, Wichita, KS]
15           [40, 4, 11, N, 80, 43, 12, W, Wheeling, WV]
16       [26, 43, 11, N, 80, 3, 0, W, WestPalmBeach, FL]
17        [47, 25, 11, N, 120, 19, 11, W, Wenatchee, WA]
18             [41, 25, 11, N, 122, 23, 23, W, Weed, CA]
19          [31, 13, 11, N, 82, 20, 59, W, Waycross, GA]
20            [44, 57, 35, N, 89, 38, 23, W, Wausau, WI]
21          [42, 21, 36, N, 87, 49, 48, W, Waukegan, IL]
22           [44, 54, 0, N, 97, 6, 36, W, Watertown, SD]
23         [43, 58, 47, N, 75, 55, 11, W, Watertown, NY]
24           [42, 30, 0, N, 92, 20, 23, W, Waterloo, IA]
25           [41, 32, 59, N, 73, 3, 0, W, Waterbury, CT]
26         [38, 53, 23, N, 77, 1, 47, W, Washington, DC]
27             [41, 50, 59, N, 79, 8, 23, W, Warren, PA]
28        [46, 4, 11, N, 118, 19, 48, W, WallaWalla, WA]
29               [31, 32, 59, N, 97, 8, 23, W, Waco, TX]
                             ...
98           [36, 40, 11, N, 121, 39, 0, W, Salinas, CA]
99            [38, 50, 24, N, 97, 36, 36, W, Salina, KS]
100            [38, 31, 47, N, 106, 0, 0, W, Salida, CO]
101            [44, 56, 23, N, 123, 1, 47, W, Salem, OR]
102          [44, 57, 0, N, 93, 5, 59, W, SaintPaul, MN]
103       [38, 37, 11, N, 90, 11, 24, W, SaintLouis, MO]
104      [39, 46, 12, N, 94, 50, 23, W, SaintJoseph, MO]
105       [42, 5, 59, N, 86, 28, 48, W, SaintJoseph, MI]
106    [44, 25, 11, N, 72, 1, 11, W, SaintJohnsbury, VT]
107       [45, 34, 11, N, 94, 10, 11, W, SaintCloud, MN]
108    [29, 53, 23, N, 81, 19, 11, W, SaintAugustine,...
109          [43, 25, 48, N, 83, 56, 24, W, Saginaw, MI]
110      [38, 35, 24, N, 121, 29, 23, W, Sacramento, CA]
111          [43, 36, 36, N, 72, 58, 12, W, Rutland, VT]
112          [33, 24, 0, N, 104, 31, 47, W, Roswell, NM]
113        [35, 56, 23, N, 77, 48, 0, W, RockyMount, NC]
114     [41, 35, 24, N, 109, 13, 48, W, RockSprings, WY]
115          [42, 16, 12, N, 89, 5, 59, W, Rockford, IL]
116         [43, 9, 35, N, 77, 36, 36, W, Rochester, NY]
117         [44, 1, 12, N, 92, 27, 35, W, Rochester, MN]
118          [37, 16, 12, N, 79, 56, 24, W, Roanoke, VA]
119         [37, 32, 24, N, 77, 26, 59, W, Richmond, VA]
120         [39, 49, 48, N, 84, 53, 23, W, Richmond, IN]
121        [38, 46, 12, N, 112, 5, 23, W, Richfield, UT]
122      [45, 38, 23, N, 89, 25, 11, W, Rhinelander, WI]
123            [39, 31, 12, N, 119, 48, 35, W, Reno, NV]
124           [50, 25, 11, N, 104, 39, 0, W, Regina, SA]
125        [40, 10, 48, N, 122, 14, 23, W, RedBluff, CA]
126          [40, 19, 48, N, 75, 55, 48, W, Reading, PA]
127           [41, 9, 35, N, 81, 14, 23, W, Ravenna, OH]
Length: 128, dtype: object

In [44]:
ser[0][-2]

'Youngstown'

In [56]:
df=pd.DataFrame(data=Data,columns=Header)

In [55]:
[ x=='WisconsinDells' for x in  df['City']]

[False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False]

In [59]:
df[['LatD','City']]

    LatD            City
0     41      Youngstown
1     42         Yankton
2     46          Yakima
3     42       Worcester
4     43  WisconsinDells
5     36   Winston-Salem
6     49        Winnipeg
7     39      Winchester
8     34      Wilmington
9     39      Wilmington
10    48       Williston
11    41    Williamsport
12    37      Williamson
13    33    WichitaFalls
14    37         Wichita
15    40        Wheeling
16    26   WestPalmBeach
17    47       Wenatchee
18    41            Weed
19    31        Waycross
20    44          Wausau
21    42        Waukegan
22    44       Watertown
23    43       Watertown
24    42        Waterloo
25    41       Waterbury
26    38      Washington
27    41          Warren
28    46      WallaWalla
29    31            Waco
..   ...             ...
98    36         Salinas
99    38          Salina
100   38          Salida
101   44           Salem
102   44       SaintPaul
103   38      SaintLouis
104   39     SaintJoseph
105   42     SaintJoseph
106   44  SaintJohnsbury
107   45      SaintCloud
108   29  SaintAugustine
109   43         Saginaw
110   38      Sacramento
111   43         Rutland
112   33         Roswell
113   35      RockyMount
114   41     RockSprings
115   42        Rockford
116   43       Rochester
117   44       Rochester
118   37         Roanoke
119   37        Richmond
120   39        Richmond
121   38       Richfield
122   45     Rhinelander
123   39            Reno
124   50          Regina
125   40        RedBluff
126   40         Reading
127   41         Ravenna

[128 rows x 2 columns]

In [60]:
help('pandas')

Help on package pandas:

NAME
    pandas

DESCRIPTION
    pandas - a powerful data analysis and manipulation library for Python
    =====================================================================

    **pandas** is a Python package providing fast, flexible, and expressive data
    structures designed to make working with "relational" or "labeled" data both
    easy and intuitive. It aims to be the fundamental high-level building block for
    doing practical, **real world** data analysis in Python. Additionally, it has
    the broader goal of becoming **the most powerful and flexible open source data
    analysis / manipulation tool available in any language**. It is already well on
    its way toward this goal.

    Main Features
    -------------
    Here are just a few of the things that pandas does well:

      - Easy handling of missing data in floating point as well as non-floating
        point data.
      - Size mutability: columns can be inserted and deleted from DataFrame and
        higher dimensional objects
      - Automatic and explicit data alignment: objects can be explicitly aligned
        to a set of labels, or the user can simply ignore the labels and let
        `Series`, `DataFrame`, etc. automatically align the data for you in
        computations.
      - Powerful, flexible group by functionality to perform split-apply-combine
        operations on data sets, for both aggregating and transforming data.
      - Make it easy to convert ragged, differently-indexed data in other Python
        and NumPy data structures into DataFrame objects.
      - Intelligent label-based slicing, fancy indexing, and subsetting of large
        data sets.
      - Intuitive merging and joining data sets.
      - Flexible reshaping and pivoting of data sets.
      - Hierarchical labeling of axes (possible to have multiple labels per tick).
      - Robust IO tools for loading data from flat files (CSV and delimited),
        Excel files, databases, and saving/loading data from the ultrafast HDF5
        format.
      - Time series-specific functionality: date range generation and frequency
        conversion, moving window statistics, moving window linear regressions,
        date shifting and lagging, etc.

PACKAGE CONTENTS
    _libs (package)
    _version
    api (package)
    compat (package)
    computation (package)
    conftest
    core (package)
    errors (package)
    formats (package)
    io (package)
    json
    lib
    parser
    plotting (package)
    testing
    tests (package)
    tools (package)
    tseries (package)
    tslib
    types (package)
    util (package)

SUBMODULES
    _hashtable
    _lib
    _tslib
    offsets

DATA
    IndexSlice = <pandas.core.indexing._IndexSlice object>
    NaT = NaT
    __docformat__ = 'restructuredtext'
    datetools = <module 'pandas.core.datetools' from 'C:\\Progra...\lib\\s...
    describe_option = <pandas.core.config.CallableDynamicDoc object>
    get_option = <pandas.core.config.CallableDynamicDoc object>
    json = <module 'pandas.json' from 'C:\\ProgramData\\Anaconda3\\lib\\si...
    lib = <module 'pandas.lib' from 'C:\\ProgramData\\Anaconda3\\lib\\site...
    options = <pandas.core.config.DictWrapper object>
    parser = <module 'pandas.parser' from 'C:\\ProgramData\\Anaconda3\\lib...
    plot_params = {'xaxis.compat': False}
    reset_option = <pandas.core.config.CallableDynamicDoc object>
    set_option = <pandas.core.config.CallableDynamicDoc object>
    tslib = <module 'pandas.tslib' from 'C:\\ProgramData\\Anaconda3\\lib\\...

VERSION
    0.23.0

FILE
    c:\programdata\anaconda3\lib\site-packages\pandas\__init__.py

#### inplace=True

In [75]:
type(df.loc)

pandas.core.indexing._LocIndexer

In [1]:
import pandas as pd,numpy as np

In [9]:
df=pd.DataFrame([1,2,3],columns=['x'],index=['a','b','c'])

In [12]:
df[df['x']>2]

   x
c  3

In [19]:
S='1 2 3 4 5 6 7'.split()

In [20]:
S.sort()

In [21]:
S

['1', '2', '3', '4', '5', '6', '7']

In [22]:
S.reverse()

In [23]:
S

['7', '6', '5', '4', '3', '2', '1']

In [24]:
def Sorting(InValue):
    for i in range(len(InValue)-1,0,-1):
        for j in range(i):
            if InValue[j] > InValue[j+1]:
                InValue[j],temp=InValue[j+1],InValue[j]
                InValue[j+1]=temp
    return InValue

In [25]:
Sorting(S)

['1', '2', '3', '4', '5', '6', '7']

In [29]:
[ x for x in range(len(S)-1,0,-1) ]

[6, 5, 4, 3, 2, 1]

In [31]:
[x for x in range(0,5)]

[0, 1, 2, 3, 4]

In [32]:
S

['1', '2', '3', '4', '5', '6', '7']

In [37]:
T=tuple(S)

In [38]:
TT=(1,2,3,4)

In [39]:
TT

(1, 2, 3, 4)

In [41]:
Dict={'x':'X'}

In [46]:
for i in Dict.items():
    print(i[0])

x

In [43]:
Dict['x']

'X'

In [47]:
D={'name':'ashok','blood':'b+ve'}

In [48]:
D

{'name': 'ashok', 'blood': 'b+ve'}

In [49]:
D['age']=28

In [50]:
D

{'name': 'ashok', 'blood': 'b+ve', 'age': 28}

In [52]:
for i,j in D.items():
    print("key --> %s value--> %s" %(i,j))

key --> name value--> ashok
key --> blood value--> b+ve
key --> age value--> 28

In [54]:
D.items()

dict_items([('name', 'ashok'), ('blood', 'b+ve'), ('age', 28)])

In [55]:
D.keys()

dict_keys(['name', 'blood', 'age'])

In [56]:
D.values()

dict_values(['ashok', 'b+ve', 28])

In [61]:
df.fillna(value=df['x'])

   x
a  1
b  2
c  3

In [77]:
import time,numpy as np
Time=time.time()
L=range(1000000)
ActualTime=((time.time() - Time)/100000)
Time=time.time()
S=np.arange(1000000)
NumpyTime=((time.time() - Time)/100000)

print("List : %s & Numpy : %s" %(ActualTime,NumpyTime))

List : 0.0 & Numpy : 2.980709075927734e-08

In [72]:
ActualTime=''
import numpy as np
Time=time.time()
L=np.arange(1000000)
ActualTime=((time.time() - Time)*10000)
ActualTime

39.97087478637695

In [70]:
ActualTime

29.976367950439453